@font-face {
  font-family: 'kafnetty';
  src:  url('../fonts/kafnetty.eot?5i50wg');
  src:  url('../fonts/kafnetty.eot?5i50wg#iefix') format('embedded-opentype'),
    url('../fonts/kafnetty.ttf?5i50wg') format('truetype'),
    url('../fonts/kafnetty.woff?5i50wg') format('woff'),
    url('../fonts/kafnetty.svg?5i50wg#kafnetty') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="kn-"], [class*=" kn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kafnetty' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kn-add_group:before {
  content: "\e912";
}
.kn-bubbles:before {
  content: "\e907";
}
.kn-enter:before {
  content: "\e909";
}
.kn-envelop:before {
  content: "\e90a";
}
.kn-exit:before {
  content: "\e90b";
}
.kn-home:before {
  content: "\e90c";
}
.kn-magnifying-glass:before {
  content: "\e90d";
}
.kn-people-group:before {
  content: "\e90e";
}
.kn-circle:before {
  content: "\e900";
}
.kn-glass:before {
  content: "\e901";
}
.kn-address-card:before {
  content: "\e902";
}
.kn-users:before {
  content: "\e903";
}
.kn-user-tie:before {
  content: "\e904";
}
.kn-user-plus:before {
  content: "\e905";
}
.kn-warning:before {
  content: "\ea07";
}
.kn-plus:before {
  content: "\ea0a";
}
.kn-minus:before {
  content: "\ea0b";
}
.kn-info:before {
  content: "\ea0c";
}
.kn-cancel-circle:before {
  content: "\ea0d";
}
.kn-blocked:before {
  content: "\ea0e";
}
.kn-cross:before {
  content: "\ea0f";
}
.kn-checkmark:before {
  content: "\ea10";
}
