*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: white;
}

.container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}

.room-set {
    width: 260px;
    float: left;
}

.room-set .search {
    /*padding: 20px;*/
    margin: 20px 5px 5px 5px;
    width: 100%;
    height: 35px;
    padding: 0px;
    border-width: 0px;
}

.room-set td {
    vertical-align: baseline;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.room-set .cell-search {
    width: auto;
}

.room-set .cell-add {
    width: 50px;
}

.room-set .cell-search input {
    border-radius: 3px;
    border: none;
    padding: 5px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
    vertical-align: middle;
}

.room-set .cell-add input {
    border-radius: 3px;
    border: none;
    padding: 5px;
    color: white;
    background: #6A6C75;
    font-size: 14px;
    vertical-align: middle;
    width: 28px;
}

.room-set .kn-glass, .room-set .kn-plus {
    position: relative;
    left: -25px;
}

.room-set .kn-plus {
    position: relative;
    left: -25px;
    color: #86bb71;
    font-size: 14px;
}

.room-set ul {
    padding: 10px 20px 20px 20px;
    height: 770px;
}

.room-set ul li {
    padding-bottom: 10px;
}

.chat {
    width: 490px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    /*float: left;*/
    padding-left: 20px;
    margin-top: 6px;

    display: inline-block;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 630px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: #16436d; /* white; */
    padding: 18px 20px;
    line-height: 26px;
    font-size: 14px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .other-message {
    background: #94C2ED;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chat .chat-message {
    padding: 20px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.chat .chat-message button .kn-envelop {
    padding-right: 5px;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.chats {
    /*color: #94C2ED;*/
    margin-right: 10px;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.message-data.info .login {
    font-weight: bold;
}

/*
.create-room{
    display: none;
    border-radius: 8px;
    border: 2px black;
    background: #6A6C75;
    margin: 20px;
    width: 500px;
    height: 150px;
}
*/
.fidebox {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 100;
    background: #6A6C75;
    opacity: 0.6;
    align-content: center;
}

.modal-form {
    position: absolute;
    z-index: 101;
    display: none;
    width: 350px;
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
    background: #6A6C75;

    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    /* This is a shorthand of
                                            translateX(-50%) and translateY(-50%) */
}

.modal-form h2 {
    font-size: 16px;
    align-content: center;
    text-align: center;
    margin: 20px;
}

.modal-form .validate-error {
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    color: #ff9292;
    display: none;
}

.modal-form .field-name {
    align-content: center;
    width: 70%;
    margin: 0px 50px 0px 50px;
    border-radius: 3px;
    border: none;
    border-width: 0px;
    padding: 5px;
}

a.button15 {
    margin-top: 20px;
    margin-bottom: 10px;
    align-content: end;

    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}

a.button15:hover {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

a.button15:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.modal-form .action-buttons {
    padding-left: 140px;
}